* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	cursor: none;
	overflow-x: hidden;
}

header {
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: auto;
	max-width: 2560px;
	/*cursor: none;*/
}

.hamburger {
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	border: 0;
	margin: 0;
	padding: 10px;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
}
.hamburger,
.navigation {
	transition: transform .3s .1s ease-in-out;
	z-index: 9999;
}
.hamburger--active {
	transform: translateX(250px);
}
.hamburger__box {
	width: 35px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger__inner {
	left: 0;
	top: 50%;
	width: 100%;
	height: 3px;
	background-color: gold;
	position: absolute;
	transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
	content: "";
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	transition: transform .2s .2s ease-in-out;
}
.hamburger__inner::before {
	top: -10px;
}
.hamburger__inner::after {
	top: 10px;
}

.hamburger--active .hamburger__inner {
	background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
	transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
	transform: translateY(-10px) rotate(-45deg);
}

.navigation {
	height: 100vh;
	width: 250px;
	position: fixed;
	background-color: #ffd700;
	top: 0;
	left: 0;
	border-right: 5px solid #0b0b0b;
	transform: translateX(-250px);
}

.navigation--active {
	transform: translateX(0px);
}
.navigation__list {
	list-style: none;
	margin-top: 50px;
}

.navigation__item {
	margin-bottom: 20px;
	width: 100%;
}

.navigation__item a {
	text-decoration: none;
	font-family: Poppins;
	color: #0b0b0b;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.navigation__item a:hover {
	color: #0b0b0b;
}

.navigation__item a:focus {
	color: #0b0b0b;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Poppins;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 30px;
	font-weight: 600;
	color: #fff;
}

.mouse-ball {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#ball {
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid gold;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -10px;
	pointer-events: none;
	z-index: 50;
}
main {
	width: 100%;
	margin: auto;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.container h1 {
	margin-left: 10px;
	font-family: Poppins;
	width: 100%;
	z-index: 1;
}

.about img {
	border-radius: 50%;
	width: 406px;
	position: relative;
	right: 175px;
}

.text-about {
	border-radius: 20px;
	max-width: 600px;
	width: auto;
	position: relative;
	bottom: 150px;
	right: 10px;
	height: auto;
	-webkit-box-shadow: -15px 15px 0px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: -15px 15px 0px 2px rgba(0, 0, 0, 1);
	box-shadow: -13px 22px 0px 5px rgba(0, 0, 0, 1);
	background-color: #ffd700;
}
.text-about p {
	padding: 20px;
	font-size: 20px;
	text-align: justify;
	font-family: Poppins;
	margin: 0px auto;
	letter-spacing: 1px;
}

.user {
	position: relative;
	z-index: 1;
	letter-spacing: 5px;
	margin-left: 20%;
}

.user-text {
	margin: 0;
	position: relative;
	top: 114px;
	left: 9px;
	z-index: 1;
	font-size: 42px;
	font-family: Georgia;
}

.surname {
	position: relative;
	bottom: 20px;
	left: 106px;
}

.waves {
	position: relative;
}

.wave {
	display: block;
}

.wave-one {
	position: relative;
	top: 3px;
	width: 110%;
}

.wave-two {
	bottom: -4px;
	position: absolute;
}

.wave-three {
	top: 6px;
	transform: scale(-1, -1);
	position: absolute;
	width: 105%;
	background: #fff;
}

.wave-four {
	transform: scale(-1, -1);
}

.wave-five {
	transform: scaleX(-1);
}

.wave-six {
	position: absolute;
	bottom: -5px;
}
.recipt {
	background-color: #ffde3a;
}

.contact {
	background-color: #ffd700;
	position: relative;
	height: auto;
	width: auto;
	display: flex;
	padding: 4px;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.img-recipt {
	width: 300px;
	border-radius: 20px;
	/* display: none; */
}
.img-recipt-two {
	width: 320px;
	border-radius: 20px;
	/* display: none; */
}
.social-media {
	background-color: #0b0b0b;
	display: flex;
	justify-content: center;
}

.social-media a {
	margin: 10px 5px;
}

.white-box {
	background-color: white;
	width: 90%;
	height: auto;
	border-radius: 20px;
	margin: 10px auto;
}

.text-recipt p {
	font-size: 18px;
	text-align: justify;
	margin: auto;
	padding: 20px;
	color: black;
	font-family: Poppins;
}

.contact-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffd700;
	margin-bottom: 20px;
}

.box-text-recipt {
	z-index: 1;
}

input[type=text] {
	border-radius: 20px;
	width: 300px;
	padding: 0px 20px;
	height: 44px;
	font-size: 1.3em;
	border: 2px solid gray;
}

input[type=text]:focus {
	border: 2px solid black;
}

input[type=text]:hover {
	border: 2px solid black;
}
#wiadomosc {
	height: 200px;
	border-radius: 20px;
	padding: 5px 20px;
	font-size: 1.3em;
	border: 2px solid gray;
	width: 300px;
	font-weight: 400;
}

h3 {
	font-family: Poppins;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 25px;
	width: 400px;
	justify-content: center;
}
.form p {
	color: gray;
	font-size: 21px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: Poppins;
	margin-bottom: 0px;
	margin-left: 14px;
}

.form {
	margin: auto;
}

.info-title {
	color: #fff;
	font-weight: 600;
	font-family: Poppins;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 5px auto;
}

.a-info {
	color: black;
	font-family: monospace;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
	margin: auto;
}

.form button {
	background-color: black;
	border-radius: 20px;
	color: #fff;
	display: flex;
	border: 10px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	justify-content: center;
	margin: 5px auto;
	font-weight: 600;
}

.con {
	background: #ffd700;
}
.text-info {
	color: black;
	font-size: 15px;
	font-family: Poppins;
	justify-content: center;
	margin: 0px auto 5px auto;
}

.img-slodko {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.send-us {
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-family: Poppins;
	margin-bottom: 2px;
	font-weight: 600;
}

@media only screen and (max-width: 769px) {
	.mouse-ball {
		display: none;
	}
	.img-recipt {
		/* display: none; */
		margin: auto;
	}
	.img-recipt-two {
		display: flex;
		margin: 0px auto;
		border-radius: 20px;
		position: relative;
		max-width: 375px;
		width: 90%;
	}
	.text-recipt-one {
		/* display: none; */
	}
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 768px) {
	.contact-box {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}
}

@media only screen and (max-width: 425px) {
	.text-about p {
		font-size: 1em;
	}

	.logo {
		letter-spacing: 15px;
	}

	.contact {
		padding: 4px;
		margin: 2px auto;
		margin-bottom: 25px;
	}

	.contact-box {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		background-color: #ffd700;
		margin: auto;
	}

	input[type=text] {
		border-radius: 20px;
		width: 303px;
		padding: 0px 20px;
	}

	.form button {
		margin: 5px auto;
		font-family: Poppins;
		font-weight: 600;
	}

	.img-slodko {
		flex-direction: column-reverse;
	}

	.img-recipt {
		margin: 10px auto;
		width: 90%;
	}
}

@media only screen and (min-width: 1024px) {
	.user {
		position: relative;
		margin: auto;
		bottom: 100px;
	}
	.hamburger {
		display: none;
	}

	.text-about p {
		font-size: 21px;
	}

	.user-text {
		font-size: 54px;
		top: 131px;
	}

	.navigation {
		display: flex;
		position: absolute;
		justify-content: flex-end;
		top: 0;
		right: 0;
		background: transparent;
		border: none;
		transform: none;
		width: auto;
	}

	.navigation__list {
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		padding: 10px;
		margin: 38px 0px;
	}

	.navigation__item:not(:first-child) {
		margin-left: 50px;
	}
	.navigation__item:last-child {
		margin-right: 24px;
	}
	.navigation__item a {
		color: #fff;
		font-size: 14px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		font: 600;
	}

	.navigation__item a:hover {
		color: #ffde3a;
	}

	.navigation__item a:focus {
		color: #ffde3a;
	}

	.img-recipt-two {
		margin: 0px 10px;
	}
}

@media only screen and (min-width: 1440px) {
	.user-text {
		font-size: 120px;
		position: relative;
		top: 296px;
		left: 185px;
	}

	.user-text p {
		font-size: 2em;
	}

	.text-about p {
		font-size: 21;
	}
}

@media only screen and (min-width: 1440px) {
	.user img {
		width: 666px;
	}

	.surname {
		position: relative;
		left: 323px;
	}

	.text-about {
		max-width: 867px;
	}

	.contact {
		margin-right: 100px;
	}

	.form {
		margin-left: 100px;
	}
}

@media only screen and (min-width: 426px) {
	#kontakt {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 25px;
	}

	form {
		margin: 0px auto;
	}
}
